<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		   http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
	default-autowire="autodetect" default-lazy-init="false">

	 <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
           <value>classpath:props/memcache.properties</value>
		</property>
	</bean>

	<bean id="sockIOPool" class="com.danga.MemCached.SockIOPool"
		factory-method="getInstance" init-method="initialize" destroy-method="shutDown">
		<constructor-arg>
			<value>neeaMemcachedPool</value>
		</constructor-arg>
		<property name="servers">
			<list>
				<value>${memcache.server}</value>
			</list>
		</property>
		<property name="initConn">
			<value>${memcache.initConn}</value>
		</property>
		<property name="maxConn">
			<value>${memcache.maxConn}</value>
		</property>
		<property name="maintSleep">
			<value>${memcache.maintSleep}</value>
		</property>
		<property name="nagle">
			<value>${memcache.nagle}</value>
		</property>
		<property name="socketTO">
			<value>${memcache.socketTO}</value>
		</property>
	</bean>
									 
	<bean id="memcachedClient" class="com.danga.MemCached.MemCachedClient">
		 <constructor-arg value="neeaMemcachedPool"/> 
        <property name="sanitizeKeys" value="false"/>
        <property name="compressEnable"   value="true"/>
        <property name="compressThreshold" value="1024"/>
	</bean>
	<!-- <bean id="memcachedClient" class="net.spy.memcached.spring.MemcachedClientFactoryBean">
			<property name="servers" value="localhost:11211"/>
			<property name="protocol" value="BINARY"/>
			<property name="transcoder">
	   			<bean class="net.spy.memcached.transcoders.SerializingTranscoder">
					<property name="compressionThreshold" value="1024"/>
	   			</bean>
			</property>
			<property name="opTimeout" value="50"/>
			<property name="timeoutExceptionThreshold" value="1998"/>
			<property name="hashAlg">
				<value type="net.spy.memcached.DefaultHashAlgorithm">KETAMA_HASH</value>
			</property>
			<property name="locatorType" value="CONSISTENT"/>
			<property name="failureMode" value="Redistribute"/>
			<property name="useNagleAlgorithm" value="false"/>
	</bean> -->
</beans>
	